@page
@model Razor_App.Pages_Friends.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Index">Tilbage</a>
    <a asp-page="Create">Ny ven</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Fødselsdato</th>
            <th>Brugernavn</th>
            <th>Alder</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUser)
        {
            <form method="post" action="/Friends/Create">
                @Html.AntiForgeryToken()
                <input type="hidden" name="FriendId" value="@item.Id" />
                <tr>
                    <td><i class="bi bi-person-circle"></i></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Model.BeregnAlder(item.DateOfBirth)
                    </td>

                    <td>
                        <button type="submit" class="btn btn-primary">Tilføj som ven</button>
                        @* <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>
